<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main>
   <% if (products.length > 0) { %>
       <ul class="cart__item-list">
           <% products.forEach(p => { %>
               <li class="cart__item">
                   <h1><%= p.title %></h1>
                   <h2>Quantity: <%= p.cartItem.quantity %></h2>
                   <form action="/cart/delete" method="POST">
                       <input type="hidden" value="<%= p.id %>" name="prodId">
                       <button class="btn danger" type="submit">Delete</button>
                   </form>
               </li>
           <% }) %>
       </ul>
       <div class="centered mt-3">
         <form action="/create-order" method="post">
            <button type="submit" class="btn">Order Now!</button>
         </form>
       </div>
   <% } else { %>
       <h1>No Products in Cart!</h1>
   <% } %>
</main>

<%- include('../partials/end')%>