<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main>
   <div class="centerxy">
      <h1 class="display-5">My Orders</h1>
      <% if (orders.length > 0) { %>
         <% orders.forEach((order,i) => { %>
               <li>
                  <h5>Order#<%=i+1%></h5>
                  <ul>
                     <% order.items.forEach(product => { %>
                       <li><%=product.title %> x<%=product.quantity %></li>
                     <% }) %>
                  </ul>
               </li>
         <%})%>
      <%}else{%>
         <h2>No Orders here!</h2>
      <%}%>
   </div>
   
</main>

<%- include('../partials/end')%>