<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main>
   <div class="centerxy text-center">
      <h1 class="display-5">Product details</h1>
      <hr>
      <h2><%=product.title %></h2>
      <div><img src="<%=product.imageUrl %> " alt="product image"></div>
      <h2>$<%=product.price %> </h2>
      <p><%=product.description %></p>
      <form action="/cart" method="post">
         <button type="submit" class="btn">Add to Cart</button>
         <input type="hidden" name="prodId" value="<%=product.id %>" />
      </form>
   </div>
  
</main>

<%- include('../partials/end')%>